* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #EDECEC;
    --text-bg-color: #14120B;
    --btn-bg-hover-color: #edecece8;
    --logo-bg-color: #1B1913;
    --text-box-p-color: #999691;
    --text-box-btn-color: #EE4E00;
}

body {
    height: 100vh;
    background-color: var(--text-bg-color);
    font-family: 'Segoe UI', 'Inter', sans-serif;
}

.site-nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 18px 6px 18px;
    background-color: var(--text-bg-color);
    position: sticky;
    top: 0;
    z-index: 999;
}

.site-nav-bar div nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-right: -55px;
}

.site-nav-bar div nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14.5px;
    padding: 5px 10px;
    transition: color 0.1s ease-in-out;
}

.site-nav-bar div nav a:hover {
    color: #edececc5;
}

.auth-action-area {
    margin-top: 3px;
    margin-right: 10px;
}

.auth-action-area a {
    padding: 2.5px 11px 4.5px 11px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.1s ease-in-out;
}

.btn-entry-alt {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid #edecec36;
    margin-right: 5px;
}

.btn-entry-main {
    background-color: var(--text-color);
    color: var(--text-bg-color);
    border: 1px solid var(--text-color);
}

.btn-entry-alt:hover {
    background-color: #2221207e;
}

.btn-entry-main:hover {
    background-color: var(--btn-bg-hover-color);
}

.hero-intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-left: 2%;
}

.hero-intro-wrapper div p {
    color: var(--text-color);
    margin-top: 107px;
    font-size: 27px;
    line-height: 120%;
    width: 55%;
    margin-bottom: 3px;
}

.hero-intro-wrapper div a {
    padding: 9px 20px 11px 20px;
    background-color: var(--text-color);
    text-decoration: none;
    color: var(--text-bg-color);
    font-size: 1.03rem;
    font-weight: 400;
    border-radius: 50px;
}

.hero-intro-wrapper div a:hover {
    background-color: var(--btn-bg-hover-color);
}

.hero-intro-wrapper div a i {
    margin-left: 2px;
    text-decoration: underline;
}

.hero-intro-wrapper img {
    margin-top: 45px;
    border-radius: 7px;
    width: 100%;
}

.partner-grid-wrapper div p {
    margin-top: 60px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--btn-bg-hover-color);
    font-weight: 400;
}

.brand-assets-row img {
    width: 153.3px;
    height: 90px;
    border-radius: 5px;
    border: 1px solid #9b9b9b11;
    background-color: var(--logo-bg-color);
    padding: 25px 25px;
}

.brand-assets-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.feature-card-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (1, 1fr);
    background-color: var(--logo-bg-color);
    padding: 20px;
    width: 94%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 100px;
    border: 1px solid #ffffff07;
}

.feature-card-row div img {
    border-radius: 5px;
    filter: contrast(120%);
}

.feature-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    text-decoration: none;
    margin-left: 7px;
}

.feature-card-text a {
    text-decoration: none;
}

.feature-card-text a span {
    font-size: 23px;
    color: var(--text-color);
}

.feature-card-text a p {
    font-size: 22.5px;
    font-weight: 500;
    margin-top: 2px;
    color: var(--text-box-p-color);
}

.feature-card-text a {
    font-size: 17px;
    color: var(--text-box-btn-color);
}

.text-adjustment {
    margin: 0 auto;
    width: 90%;
}

.feature-description-alt {
    width: 90%;
}

.social-proof-title {
    text-align: center;
    font-size: 33px;
    color: var(--text-color);
    margin-bottom: 40px;
    font-weight: 500;
}

.testimonial-layout-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 96%;
    margin: 0 auto;
}

.testimonial-unit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 25px 10px 15px;
    width: 100%;
    height: 265px;
    background-color: var(--logo-bg-color);
    border: 1px solid #ffffff09;
    border-radius: 5px;
}

.testimonial-unit p {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    color: var(--text-color);
}

.testimonial-unit div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.testimonial-unit div img {
    grid-row: 1/-1;
    border-radius: 3px;
    width: 22%;
}

.testimonial-unit div p {
    grid-column: 2/-1;
    font-size: 14px;
    margin-left: -71%;
    font-weight: 400;
    color: var(--text-color);
}

.testimonial-unit div span {
    grid-column: 2/-1;
    margin-left: -71%;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-box-p-color);
}

.capabilities-title {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 500;
    margin-top: 160px;
    margin-bottom: 30px;
    margin-left: 2.3%;
}

.capabilities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 96%;
    gap: 10px;
    margin: 0 auto;
}

.capabilities-grid div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ffffff09;
    background-color: var(--logo-bg-color);
    padding: 15px;
    border-radius: 5px;
}

.capabilities-grid div span {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.capabilities-grid div p {
    font-size: 16.3px;
    font-weight: 500;
    margin-top: -10px;
    color: var(--text-box-p-color);
    line-height: 23px;
}

.capabilities-grid div a {
    font-size: 16.5px;
    text-decoration: none;
    color: var(--text-box-btn-color);
}

.capabilities-grid div img {
    margin-top: 7px;
    width: 100%;
    border-radius: 4px;
    filter: contrast(100%);
}

.updates-label {
    font-size: 28px;
    font-weight: 500;
    margin-top: 160px;
    margin-bottom: 20px;
    margin-left: 2.3%;
    color: var(--text-color);
}

.updates-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    width: 96%;
    margin: 0 auto;
    padding: 10px;
}

.updates-list div {
    border: 1px solid #ffffff09;
    border-radius: 4px;
    padding: 15px 20px 20px 20px;
    background-color: var(--logo-bg-color);
}

.updates-list div span{
    font-size: 1.05rem;
    color: var(--text-box-p-color);
    font-weight: 500;
}

.updates-list div p{
    margin-top: 10px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.updates-list a{
    margin-top: 13px;
    color: var(--text-box-btn-color);
    text-decoration: none;
    font-size: 1.1rem;
    margin-bottom: 130px;
}

.lab-team-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 95%;
    padding: 20px 20px 15px 20px;
    border: 1px solid #9b9b9b11;
    margin: 0 auto;
    background-color: var(--logo-bg-color);
    border-radius: 5px;
}

.lab-team-bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.lab-team-visual{
    width: 830px;
    border-radius: 5px;
}

.lab-team-bio p{
    color: var(--text-color);
    font-size: 1.45rem;
    font-weight: 500;
}

.lab-team-bio a{
    color: var(--text-box-btn-color);
    text-decoration: none;
    font-size: 1.1rem;
}

.blog-preview-section{
    background-color: var(--logo-bg-color);
    margin-top: 200px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.blog-preview-title{
    font-size: 1.15rem;
    color: var(--text-color);
    margin-left: 3%;
    margin-bottom: -20px;
}

.blog-preview-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    width: 48%;
    margin: 0 auto;
    gap: 9px;
}

.blog-preview-list div{
    padding: 15px 20px;
    background-color: var(--logo-bg-color);
    border: 1px solid #9b9b9b11;
    border-radius: 3px;
}

.blog-preview-list div:hover{
    background-color:#2b29264f;
}

.blog-preview-list div a{
     text-decoration: none;
}

.blog-preview-list div a h2{
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
}

.blog-preview-list div a p{
    color: var(--text-box-p-color);
     margin-top: 5px;
     font-weight: 500;
     font-size: 16px;
     width: 90%;
     margin-bottom: 20px;
}

.blog-preview-list div a span{
    color: var(--text-box-p-color);
     font-weight: 500;
     font-size: 16px;
}

.blog-preview-list a{
    margin-top: 10px;
    color: var(--text-box-btn-color);
    font-size: 1.04rem;
    font-weight: 400;
    text-decoration: none;
}

.cta-final-box{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.cta-final-box p{
    color: var(--text-color);
    font-size: 4.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.cta-final-box a{
    text-decoration: none;
    padding: 10px 23px;
    font-size: 17px;
    color: var(--logo-bg-color);
    background-color: var(--text-color);
    border-radius: 40px;
}

.cta-final-box a i{
    text-decoration: underline;
}

footer{
    background-color: var(--logo-bg-color);
}

.site-footer-links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 16px;
    width: 96%;
    margin:0 auto;
    padding: 70px 0 30px 0;
}

.site-footer-links div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.site-footer-links div p{
    color: var(--text-box-p-color);
}

.site-footer-links div a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 14.5px;
    font-weight: 500;
}

.site-footer-links div a:hover{
    color: var(--btn-bg-hover-color);
}

.site-footer-links span{
    margin-top: 90px;
    color: var(--text-box-p-color);
    font-weight: 500;
}